.App {
  text-align: center;
}

.Row {
  margin: 0 auto;
  width: 86vw;
  height: 100px;
  background-color: green;
  display: flex;
}

.Column {
  width: 7vw;
  margin: 2px;
  background-color: blue;
  height: 80px;
  border: 2px solid yellow;
}